<a href="https://colab.research.google.com/github/ImranImon14/Imran_IT22010/blob/main/ImranDec20_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Type Casting

In [2]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [3]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [4]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Python string

In [5]:
print("Hello")
print('Hello')

Hello
Hello

In [6]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [7]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [11]:
a = "Hello, World!"
print(a[1])

e

In [9]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [13]:
for x in "banana":
  print(x,end=" ")

b a n a n a

In [14]:
a = "Hello, World!"
print(len(a))

13

In [17]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [18]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [19]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [20]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [21]:
b = "Hello, World!"
print(b[2:5])

llo

In [22]:
b = "Hello, World!"
print(b[:5])

Hello

In [23]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [24]:
b = "Hello, World!"
print(b[-5:-2])

orl

operator

In [25]:
print(100 + 5 * 3)

115

In [26]:
print(5 + 4 - 7 + 3)

5

In [28]:
x=5
y=2
print(x**y) #exponention
print(x//y)  #Floor division

25
2

In [41]:
z=1.666667
y=round(z,2)
print(y)
print(round(z,2))
print(z)

1.67
1.67
1.666667