<a href="https://colab.research.google.com/github/ImranImon14/Imran_IT22010/blob/main/ImranDec19_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

# New Section

**Python Variables**

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

**PYTHON DATATYPES**

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [4]:
fruits = ["apple", "banana", "cherry","Imran"]
x, y, z,w = fruits
print(x)
print(y)
print(z)
print(w)

apple
banana
cherry
Imran

In [7]:
x=5
y="Imran"
print(x,y)

5 Imran

In [8]:
x=5
y=10
print(x+y)

15

In [11]:
x="awesome"
def myfun():
  print("Python is",x)
myfun()

Python is awesome

In [12]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [13]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

PYTHON DATATYPES

In [14]:
x = 5
print(type(x))

<class 'int'>

In [19]:
x = {"name" : "John", "age" : 36}
y=["apple", "banana", "cherry"]
z=("apple", "banana", "cherry")
a=b"Hello"
b=True
c=None
print(type(x),type(y),type(z),type(a),type(b),type(c))

<class 'dict'> <class 'list'> <class 'tuple'> <class 'bytes'> <class 'bool'> <class 'NoneType'>

In [22]:
x=bytes(5)
print(type(x))

<class 'bytes'>

**PYTHON NUMBERS**

In [23]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [25]:
x = 35e3
y = 12E4
z = -87.7e100
m = -5j

print(type(x))
print(type(y))
print(type(z))
print(type(m))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [26]:
x=1
c=complex(x) #convert int to complex
print(c)

(1+0j)

In [30]:
import random
print(random.randrange(1, 10))  #display a random number from 1 to 10

5