<a href="https://colab.research.google.com/github/ImranImon14/Imran_IT22010/blob/main/ImranDec19_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

# New Section

Python Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [7]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Python datatypes

In [8]:
x = 5
print(type(x))

<class 'int'>

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [10]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [13]:
x = "Python is awesome"
print(x)

Python is awesome

In [14]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome